<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cz.weissar.weartracker">

    <uses-feature android:name="android.hardware.type.watch" />

    <uses-permission android:name="android.permission.BODY_SENSORS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:name=".WearApp"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.DeviceDefault">

        <uses-library
            android:name="com.google.android.wearable"
            android:required="true" />

        <!--
               Set to true if your app is Standalone, that is, it does not require the handheld
               app to run.
        -->

        <meta-data
            android:name="com.google.android.wearable.standalone"
            android:value="true" />

        <activity
            android:name=".ui.WearMainActivity"
            android:launchMode="singleTop"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".service.TrackingService"  />

        <service android:name=".service.SendFilesService" />

        <!--<receiver android:name=".service.RestartSensor"
            android:enabled="true"
            android:exported="true"
            android:label="TrackingServiceWasStopped"> &lt;!&ndash; Je-li exported na false tak může být volána jen z této aplikace - s "TRUE" může být volána i z jiných aplikací &ndash;&gt;

            &lt;!&ndash;<intent-filter>
                &lt;!&ndash;<action android:name=""&ndash;&gt;
            </intent-filter>&ndash;&gt;

        </receiver>-->

    </application>

</manifest>